<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>8798JKH4Z8</string>
    <key>destination</key>
    <string>upload</string>
    <key>uploadBitcode</key>
    <true/>
    <key>compileBitcode</key>
    <true/>
    <key>uploadSymbols</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>installerSigningCertificate</key>
    <string>Developer ID Installer: Joojin Abaoag (8798JKH4Z8)</string>
    <key>signingCertificate</key>
    <string>Developer ID Application</string>
</dict>
</plist>
